[submodule "freeswitch"]
	path = freeswitch
	url = git://github.com/dhubler/freeswitch.git
[submodule "homer"]
	path = homer
	url = http://code.google.com/p/homer/
[submodule "sipXhomer"]
	path = sipXhomer
	url = git://github.com/dhubler/sipXhomer.git
[submodule "oacd_freeswitch"]
	path = oacd_freeswitch
	url = git@github.com:sipxopenacd/oacd_freeswitch
[submodule "oacd_dialplan"]
	path = oacd_dialplan
	url = git@github.com:sipxopenacd/oacd_dialplan
[submodule "oacd_web"]
	path = oacd_web
	url = git@github.com:sipxopenacd/oacd_web
[submodule "sipxopenacd"]
	path = sipxopenacd
	url = git@github.com:sipxopenacd/sipxplugin
